html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2 {
  font-size: 3.2vw;
  line-height: 1.5;
  font-weight: 900;
}

h3 {
  font-weight: 800;
  font-size: 1.5rem;
}

a {
  color: #1D9ECF;
}

a:hover {
  color: #78A2CC;
}

.container-fluid {
  padding: 6% 14%;
}

.uncolored-section {
  background-color: white;
}

/* Brand Section */

.brand-one {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

.brand-two {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

/* Nav Bar Section */

.navbar navbar-dark .navbar-nav .nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.nav-item { /* nav button */
  padding: 0 24px 0 0;
}

/* Title Section */

#title .container-fluid {
  text-align: left;
  background-color: #5DC69D;
  padding: 10% 16% 8%;
}

.title-div {
  padding-top: 64px; /* necessary padding because of the nav bar */
  text-align: left;
}

.col-sm-6 {
  padding-right: 0;
}

.title-image {
  width: 28vw;
  max-width: 350px;
  height: auto;
  position: absolute;
  transform: rotate(25deg);
}

/* Features Section */

#features {
  position: relative;
}

.feature-box { /* padding around the exterior of the feature boxes */
  padding: 5%;
}

.feature-desc {
  color: #8F8F8F;
}

.feature-icon {
  color: #5DC69D;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #6DCBA6;
}

/* Products Carousel Section */

#products {
  background-color: #6DCBA6;
  position: relative;
}

#products .container-fluid {
  padding: 6% 16%;
}

.product-image {
  position: absolute;
  right: 10vw;
  width: 240px;
  height: 480px;
}

.product-div {
  height: 480px;
  position: relative;
  left: 26vw;
}

.product-desc {
  padding-top: 3vw;
  text-align: left;
  margin-bottom: 48px;
}

.product-button {
  float: right;
}

/* Contact Card-deck Section */

#contact {
  padding: 4% 8%;
}

.contact-title {
  margin-bottom: 3%;
}

.contact-column { /* padding around the exterior of the contact cards */
  padding: 0 1.2%;
}

.card {
  max-width: none;
  text-align: left;
  text-overflow: initial;
  white-space: normal;
  word-break: break-word;
}

.contact-div {
  width: 75px;
  height: auto;
  text-align: center;
}

.contact-icon {
  color: #6DCBA6;
}

.contact-icon:hover {
  color: #5DC69D;
}

.contact-desc {
  padding-left: 1rem;
}

.embedded-map {
  width: 100%;
  height: 448px;
}

/* Footer Section */

#footer .container-fluid {
  padding: 5% 0 1%;
}

/* Responsive */

@media (max-width: 1366px) {
  body {
    font-size: 0.9rem;
  }

  h1, h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  #features .container-fluid { /* padding for the feature container */
    padding: 6% 4%;
  }

  .product-div {
    height: 480px;
    position: relative;
    left: 30vw;
  }

  .product-image {
    position: absolute;
    right: 6vw;
  }

  .product-desc {
    padding-top: 5vw;
  }

  #contact {
    padding: 56px 3.2%;
  }

  .card-deck .card { /* smaller margin makes card bigger */
    margin-left: 6px;
    margin-right: 6px;
    padding: 0.4%;
  }

  .contact-div { /* size of contact icons */
    width: 55px;
    font-size: 0.75rem;
  }

  .contact-column { /* padding around the exterior of the contact cards */
    padding: 0 0.4%;
  }

  .embedded-map {
    height: 416px;
  }
}

@media (max-width: 991px) {
  h1, h2 {
    font-size: calc(2.4vw + 0.8rem);
  }

  h3 {
    font-size: 1.3rem;
  }

  #features .container-fluid { /* padding for the feature container */
    padding: 2% 20%;
  }

  .feature-box { /* padding around the exterior of the feature boxes */
    padding: 3%;
  }

  .feature-div { /* size of feature icons */
    font-size: 0.72rem;
  }

  .product-div { /* height of the section, don't change this, change #products .container-fluid instead */
    left: 0;
    height: 18vw;
  }

  #products .container-fluid { /* padding for the section */
    padding: 36px 6% 96px;
  }

  .product-image {
    position: static;
    padding-bottom: 12px;
    width: 22vw;
    height: 44vw;
  }

  .product-desc {
    text-align: center;
    margin-bottom: 3vw;
  }

  .product-button {
    float: none;
  }

  .btn { /* format options for the download button */
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
  }

  .contact-div { /* size of contact icons */
    width: 50px;
    font-size: 0.66rem;
  }

  #contact {
    padding: 6% 8% 4%;
  }

  .contact-column { /* padding around the exterior of the contact cards */
    padding: 0 1.2% 4.2%;
  }

  .card-body { /* space between rows in the contact card */
    padding: 0.4rem 1.25rem;
  }

  .card-deck .card { /* smaller margin makes card bigger */
    padding: 1%;
  }

  .card-title { /* space between the contact title heading and desc */
    margin-bottom: 0.2rem;
  }

  .embedded-map {
    height: 384px;
  }
}

@media (max-width: 700px) {
  .brand-one {
    font-size: 1.4rem;
  }

  body {
    font-size: 0.9rem;
  }

  h1, h2 {
    font-size: calc(1.2vw + 1.2rem);
  }

  h3 {
    font-size: 1.2rem;
  }

  .title-image {
  }

  #features .container-fluid {
    padding: 2% 16%;
  }

  .contact-div { /* size of contact icons */
    width: 45px;
    font-size: 0.60rem;
  }

  .card-body { /* space between rows in the contact card */
    padding: 0.3rem 1.25rem;
  }

  .embedded-map {
    height: 352px;
  }
}

@media (max-width: 575px) {
  body {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 1rem;
  }

  .title-div {
    padding-top: 40px; /* necessary padding because of the nav bar */
  }

  .col-sm-6 { /* because we had set padding-right to 0, and now the text is centered */
    padding-left: 0;
  }

  .title-div {
    text-align: center;
  }

  .title-image {
    position: relative;
    transform: rotate(0);
  }

  .contact-div { /* size of the contact icons */
    width: 40px;
    font-size: 0.56rem;
  }

  .card-body { /* space between rows in the contact card */
    padding: 0 1.25rem;
  }

  .product-desc {
    padding-top: 0;
  }

  .btn { /* format options for the download button */
    padding: 0.2rem 0.4rem;
    font-size: 0.7rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }

  .embedded-map {
    height: 320px;
  }
}
